---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post" style="margin: 1px; width: 320px; height: 240px; float: left; background:  url({{ post.image }}) center; background-size: cover;">
    <h2 style="font-size: 1em; padding: 2px" class="post-title"><a style="color: #ffffff; background: #00000080" href="{{ post.url }}">{{ post.title }}</a></h2>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>