---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post" style="width: 320px; height: 240px; float: left">
    <h1 style="font-size: 1em" class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    {% if post.image %}
    <a href="{{ post.url }}"><img style="max-height: 230px; max-width: 310px" src="{{post.image}}"></a>
    {% endif %}
    <hr>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>